@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter:none;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 


}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    width: max-content;
    margin: 0;
    position: relative;
    font: 500 3rem "Poppins", sans-serif;
    isolation: isolate;
    color:darkgreen;
    animation: showText 1.5s linear forwards 1s;
}

#header-text::after {
    content: "";
    position: absolute;
    left: -5%;
    top: 0;
    right: 105%;
    bottom: 0;
    background: #fff;
    opacity: 1;
    z-index: 1;
    animation: show 1.5s ease forwards 1s;
  }

@keyframes show {
50% {
    left: -5%;
    right: -5%;
}
100% {
    right: -5%;
    left: 105%;
}
}

@keyframes showText {
49% {
    color: #333;
}
50% {
    color: white;
}
100% {
    color: white;
}
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a:hover{
    background-color:lightgrey;
}

a, p {
    font-family: monospace;
}

#story-form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    font-size: large;
    text-align: center;
    
   
  }

  input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(215, 189, 54, 0.8);
  }
  
  /* Add hover effect */
  input:hover {
    box-shadow: 0 0 30px rgba(215, 189, 54, 0.8);
  }
  
  /* Add transition for smooth effect */
  input {
    transition: box-shadow 0.3s ease-in-out;
  }



